<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Anúncio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link href="/style/style.css" rel="stylesheet">
</head>
<body>
    <div class=" mt-5">
        
      <h1 >Detalhes do Anúncio</h1>
        <div class="row w-100 container-fluid align-self-height col-md-3 col-sm-6 col-6 mb-3">
          <div class="col-md-5 col-lg-5 col-sm-12">
            <img src="/<%= anuncio.imagem %>" alt="<%= anuncio.titulo %>" class=" imgdet w-100" style="width: 100%;height:100%;">
          </div>
          <div class="col-md-7 col-sm-12 card-text" style="max-width: 100%;">
            <h3 class="card-title1 pb-5 p-3"><%= anuncio.titulo %></h3>
            <h4>Descrição do Produto</h4>
            <p ><%= anuncio.descricao %></p>
            <div>
              <h4 >Contato</h4>
            <p ><%= anuncio.contato %></p>
            <a href="https://api.whatsapp.com/send?phone=<%= anuncio.contato %>&text=Vi%20o%20anúncio%20no%20Rural%20Market%20de%20<%= encodeURIComponent(anuncio.titulo) %>.%20Está%20disponível%3F" style="color:#fff" class="btn btn-success">Enviar mensagem no WhatsApp</a>


            </div>
            <h4>Valor</h4>
            <p>R$<%= anuncio.valor %></p>
       
          </div>
        </div>
    </div>
    <h2 class="mt-5">Outros Anúncios do Mesmo Produtor</h2>
    <div class="row">
      <% outrosAnuncios.forEach(function(outroAnuncio) { %>
        <div class="col-md-4 col-lg-3 col-sm-6 col-6 mb-3">
          <div class="card mb-3">
            <img src="/<%= outroAnuncio.imagem %>" alt="<%= outroAnuncio.titulo %>" class="card-img-top imgc">
            <div class="card-body">
              <h5 class="card-title"style="min-height:7vh;"><%= outroAnuncio.titulo %></h5>
              <a href="/anuncio/<%= outroAnuncio.id %>" class="btn btn-success btn-block">Ver Detalhes</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
    
  
  
     
      
</body>
</html>
